.table-container {
    height: 300px !important;
}

table {
    border-collapse: collapse;
    border: 1px solid #999;
}

th, td {
    border-right:1px solid #999 !important;
    border-bottom:1px solid #999 !important;
    width: 100px;
    height: 100px;
    padding: 5px;
  }

  .app-container {
      width: 800px;
  }
